body{
    text-align: center;
    color: rgba(0, 0,0, 0.7);
    background:linear-gradient(to right,#e95a7b,#248fbd)
}
h1
{   font-size: 40px;
    text-align: center;
    margin-top: 10%;
    letter-spacing:5px;
}
h2
{
    margin-top: 50px;
}

